body {
    background: rgb(33,33,33);
}

.widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid rgb(46, 46, 46);
    background-color: rgb(46,46,46);
    color: white;
    font-family: 'Noto Sans', sans-serif;
    padding: 2px;
    margin: 5px;
    font-size: 12px;
    height: 0;
    width: 20%;
    padding-bottom: 20%;
    border-radius: 6px;
}
.youtube {
    color: #c4302b;
}
.NrkTv {
    color: white;
}
.Disney+ {
    color: #113CCF;
}
.Netflix {
    color: #E50914 ;
}
.HBOMax {
    color: #7ba7f2;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: auto;
    border: none;
}

.col {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    border: none;
}

.center {
    justify-content: center;
    align-items: center;
}

.image {
    border: none;
    height: 200px;
    margin: 40px;
}

.widget ul {
    list-style-type: none;
    margin-left: -35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widget li {
    margin-bottom: 9px;
    font-size: 14px;
    font-weight: bold;
}

.widget h2 {
    margin: 10px;
    font-size: 17px;
}

a {
    color: white;
    text-decoration: none;
}

.Video {
    color: rgb(159,24,39);
    font-size: 15px;
}


.Chat {
    color: rgb(111,111,255);
    font-size: 15px;
}

.google h2 {
    letter-spacing: -2px;
    width: 100%;
    text-align: center;
}


.blue {
    color: #4285F4;
}

.red {
    color: #DB4437;
}

.yellow {
    color: #F4B400;
}

.green {
    color: #0F9D58;
}

.time {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.time div {
    margin: 5px;
}

#klokke {
    color: white;
    /*justify-self: end;*/
}

.delimiter {
    font-weight: bold;
    align-self: center;
    padding: 5px;
    /*justify-self: center;*/
}

#dato {
    color: white;
    /*justify-self: start;*/
}

#splashtext {
    font-size: 20px;
    margin: 5px;
    font-family: 'Anonymous Pro', monospace;
    font-weight: lighter;
    color: white;
}

#searchbar {
    display: flex;
}

#searchbar input {
    height: 50px;
    width: 500px;
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border-bottom: white solid 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    font-size: 17;
}

#searchbar input:focus-visible {
    outline: none;
}
