body {
    background-image: url('./bilde_bakgrunn_kornaker.jpg');
    background-size: 100%;
}

.widget {
    display: block;
    border: solid rgb(207, 0, 0) 6px;
    background-color: crimson;
    color: white;
    font-family: Dyuthi, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    margin: 10px;
    font-size: 25px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    width: auto;
    border: none;
}

.col {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    border: none;
}

.center {
    justify-content: center;
    align-items: center;
}

.image {
    border: none;
    height: 200px;
    margin: 40px;
}

ul {
    list-style-type: none;
    margin-left: -30px;
}

li {
    margin-bottom: 9px;
    font-size: 22px;
    font-weight: bold
}

a {
    color: white;
    text-decoration: none;
}

#dato {
    font-size: 30px;
    margin: 40px;
    font-family: 'Courier 10 pitch';
    font-weight: lighter
}

#klokke {
    font-size: 40px;
    margin: 40px;
    font-family: 'Courier 10 pitch';
    font-weight: bolder;
}

#searchbar {
    display: flex;
}

#searchbar  button {
    width: 50px;
    height: 50px;
    background-color: white;
    border-color: rgba(0, 0, 0, 0.658);
    border-style: solid;
    border-width: 2px 2px 2px 0;
    border-radius: 0 8px 8px 0; /* top-left | top-right | bottom-right | bottom-left */
}

#searchbar button svg {
    height: 40px;
}

#searchbar input {
    height: 50px;
    width: 300px;
    background-color: white;
    border-color: rgba(0, 0, 0, 0.658);
    border-style: solid;
    border-width: 2px 0 2px 2px;
    border-radius: 8px 0 0 8px; /* top-left | top-right | bottom-right | bottom-left */
}

#searchbar input:focus-visible {
    outline: none;
}